.pokemon-section-box {
    .btn-box {
        margin-bottom: 15px;
        margin-top: -10px;
        display: flex;
        justify-content: flex-end;
    }

    .pokemon-card {
        display: flex;
        justify-content: center;

        margin-bottom: 10px;

        .ant-card-meta-title {
            text-align: center;
        }
    }
}
